@model DamianTrans.Entities.Car

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarBrand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarBrand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfProduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfProduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoadingCapacityInLiters)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoadingCapacityInLiters)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MileageInKm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MileageInKm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarInspectionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarInspectionDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
